@keyframes blink {
	0% {
		background-color: white;
		color: black;
	}
	50% {
		background-color: black;
		color: white;
	}
}

body {
	background-color: grey;
}

h1 {
	font-family: monospace;
	font-size: 10vh;
	font-weight: normal;
	text-align: center;
	leine-height: 1;
	margin: 5vh 0;
}

#terminal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: black;
	box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
	color: white;
	font: {
		family: monospace;
		size: 1rem;
	}
	padding: 1rem;
	width: 40rem;
	height: 20rem;
	overflow: auto;
	a {
		color: white;
		text-decoration: underline;
	}
	.label::before {
		content: '>';
		display: inline-block;
		position: relative;
		width: 1rem;
		height: 1em;
	}
	.output {
		color: darkGray;
	}
}

#cli {
	position: relative;
	white-space: pre-wrap;
	span {
		&.cursor {
			background-color: white;
			color: black;
			animation: {
				name: blink;
				timing-function: steps(1);
				direction: alternate;
				fill-mode: none;
				duration: 500ms;
				iteration-count: infinite;
			}
		}
	}
}
